# .NET
TicketsManagement.Api/bin/
TicketsManagement.Api/obj/
TicketsManagement.Api/*.user
TicketsManagement.Api/.vs/

# JSON secrets
TicketsManagement.Api/appsettings*.json

# Node / Angular
tickets-client/node_modules/
tickets-client/dist/
tickets-client/.env

# General
*.log
*.tmp
